<section id="two" class="spotlights" ">
	<section style="background: #DF3A01;">
		<a href="generic.html" class="image">
			<%=image_tag("Usuario.jpg", :data=>{:position=>"center center"}) %>
		</a>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Mis Datos</h3>
				</header>
				<p><strong><%=current_user.name%></strong></p>
				<center><%=image_tag("evaluacion.png", :id=>"evaluacion", :data=>{:position=>"center center"}) %></p>
				
				<%if current_user.description.present?%>
					<p><i>"<%=current_user.description%>"</i></p></center>
				<%end%>
				
				
				<center>
					<ul class="actions">
						<li><%=link_to "ver perfil", current_user, :class=>'button special btn-fit'%></li>
						<li><%=link_to "Cambiar datos", edit_user_path(current_user),:action=>'edit', :class=>'button  btn-fit'%></li>
					</ul>
				</center>
			</div>
		</div>
	</section>

	<section style="background: #8A2908;">
		<a href="generic.html" class="image">
			<%=image_tag("Bagno.png", :data=>{:position=>"top center"}) %>
		</a>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Mis demandas</h3>
				</header>
				<p>Actualmente hay <strong><%=current_user.demands.count%></strong> demandas realizada por ti</p>
								
				<center>
					<ul class="actions">
						<%=link_to "Ver demandas", demands_path, :class=>"button"%>
						<%=link_to "Generar una solicitud", new_demand_path, :class=>"button special"%>

					</ul>
				</center>
			</div>
		</div>
	</section>

	<section style="background: #DF3A01;">
		<a href="generic.html" class="image">
			<%=image_tag("Mapa2.png", :data=>{:position=>"25% 25%"}) %>
		</a>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Mis Comunidades</h3>
				</header>
				<p><li> <%=current_user.community.name%> </li></p>
				<p> Tu comunidad posee actualmente <strong><%=current_user.community.demands.count%></strong> demandas activas</p>
				<center>
					<ul class="actions">
						<li>
							<%= link_to "Unirse a una comunidad", {:controller => "users", :action => "community", :id => current_user},:class=>'button ' %>
						</li>
					</ul>
				</center>
			</div>
		</div>
	</section>
</section>
