<section id="one" style="background: #DF3A01;" >
	<div class="inner" >
		<header class="major">
			<h2>Información Relevante</h2>
		</header>
		<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna.</p>
	</div>
</section>

<!-- Two -->
<section id="two" class="spotlights" ">
	<section style="background: #8A2908;">
		<a href="generic.html" class="image">
			<%=image_tag("Usuario.jpg", :data=>{:position=>"center center"}) %>
		</a>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Mis Datos</h3>
				</header>
				<p><strong><%=current_user.name%></strong></p>
				<center><%=image_tag("evaluacion.png", :id=>"evaluacion", :data=>{:position=>"center center"}) %></p>
				<p><i>"Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus."</i></p></center>
				
				<center>
					<ul class="actions">
						<li><a href="generic.html" class="button">Modificar tus datos</a></li>
					</ul>
				</center>
			</div>
		</div>
	</section>

	<section style="background: #DF3A01;">
		<a href="generic.html" class="image">
			<%=image_tag("Bagno.png", :data=>{:position=>"top center"}) %>
		</a>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Mis demandas</h3>
				</header>
				<p>Actualmente hay <strong>1</strong> realizada por ti</p>
				<p>Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
				
				<center>
					<ul class="actions">
						<%=link_to "Ver demandas", demands_path, :class=>"button"%>
						<%=link_to "Generar una solicitud", new_demand_path, :class=>"button special"%>

					</ul>
				</center>
			</div>
		</div>
	</section>

	<section style="background: #8A2908;">
		<a href="generic.html" class="image">
			<%=image_tag("Mapa2.png", :data=>{:position=>"25% 25%"}) %>
		</a>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Mis Comunidades</h3>
				</header>
				<p>
				<strong>Comunidades a tu al rededor</strong>						
					<li> Edificio EL Conquistador </li>
					<li> Barrio Yungay </li>
				</p>
				<center>
					<ul class="actions">
						<li><a href="generic.html" class="button">Buscar comunidades</a></li>
						<li><a href="generic.html" class="button">Crear comunidad</a></li>
					</ul>
				</center>
			</div>
		</div>
	</section>
</section>

<!-- Three -->
<section id="three" style="background: #DF3A01;">
	<div class="inner">
		<header class="major">
			<h2>Massa libero</h2>
		</header>
		<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
		<ul class="actions">
			<li><a href="generic.html" class="button next">Más información</a></li>
		</ul>
	</div>
</section>
