<h1>Nuevo usuario</h1>
	<p>Registra tus datos e inicia sesi칩n</p>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-signin'}) do |f| %>
	<%= devise_error_messages! %>

		<div class="field"><p>
		<%= f.text_field :email, :placeholder => "Correo electr칩nico",:class => 'form-control', :required => true, :autofocus => "true"  %>
		</p></div>  

		<div class="field"><p>
		<%= f.password_field :password, autocomplete: "off", :placeholder => "Ingrese contrase침a",:class => 'form-control', :required => true %>
		</p></div>

		<div class="field"><p>
		<%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Repita su contase침a",:class => 'form-control', :required => true %>
		<p></div>

		<div class="actions">
		<%= f.submit "Registrarse", :class => 'btn btn-lg btn-block' %>
		</div>
	<% end %>

<%= render "devise/shared/links" %>
