
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>
	<div class="row uniform">

		<div class="6u 12u$(xsmall)">
			<%= f.text_field :name, :placeholder => "Nombre", :required => true %>
		</div>

		<div class="6u 12u$(xsmall)">
			<%= f.text_field :email, :placeholder => "Correo electrónico", :required => true, :type=>"email" %>
		</div>

		<div class="12u$">
			<%= f.select :specialty_id, @specialties.collect {|specialty| [specialty.title, specialty.id]},{:include_blank => '<span>Seleccione su especialidad principal</span>'.html_safe}, {:required => true, :class=>'wrapper-dropdown-3 12u$'} %>

		</div>

		<div class="6u 12u$(xsmall)">
		<%= f.password_field :password, autocomplete: "off", :placeholder => "Ingrese contraseña", :required => true %>
		</p></div>

		<div class="6u 12u$(xsmall)">
		<%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Repita su contaseña", :required => true %>
		</p></div>

		<%= f.hidden_field :category, :value => 0%>

		<div class="6u 12u$(small)">
			<input type="checkbox" id="demo-copy" name="demo-copy">
			<label for="demo-copy">Envíar noticias a mi correo</label>
		</div>

		<div class="6u$ 12u$(small)">
			<input type="checkbox" id="demo-human" name="demo-human" checked>
			<label for="demo-human">Soy un humano</label>
		</div>
		<div class="6u$ 12u$(small)">
			<input type="checkbox" id="demo-term" name="demo-human" checked>
			<label for="demo-term">Acepto los términos y condiciones</label>
		</div>

		<div class="actions">
		<%= f.submit "Registrarse", :class => 'especial' %>
		</div>

	</div>	

<% end %>

<%= render "devise/shared/links" %>

