<p id="notice"><%= notice %></p>

<h1>Listing Licitations</h1>

<table>
	<thead>
		<tr>
			<th>Mount</th>
			<th>Description</th>
			<th>Start time</th>
			<th>End time</th>
			<th>User</th>
			<th>Demand</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @licitations.each do |licitation| %>
			<tr>
				<td><%= licitation.mount %></td>
				<td><%= licitation.description %></td>
				<td><%= licitation.start_time %></td>
				<td><%= licitation.end_time %></td>
				<td><%= licitation.user %></td>
				<td><%= licitation.demand %></td>
				<td><%= link_to 'Show', licitation %></td>
				<td><%= link_to 'Edit', edit_licitation_path(licitation) %></td>
				<td><%= link_to 'Destroy', licitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Licitation', new_licitation_path %>
