<section id="one" class="DarkOrangeFont">
	<div class="inner">
		<div class="row">
			<div class="6u 12u$(small)">
				<h3>Sobre la licitación</h3>
				<p>
					<strong>Precio:</strong>
					<%= @licitation.mount %>
				</p>

				<p>
					<strong>Descripción:</strong>
					<%= @licitation.description %>
				</p>

				<p>
					<strong>Fecha estimada de inicio:</strong>
					<%= @licitation.start_time %>
				</p>

				<p>
					<strong>Fecha estimada de término:</strong>
					<%= @licitation.end_time %>
				</p>
			</div>
			<div class="6u 12u$(small)">
				<h3>Sobre la demanda</h3>
				<p>
					<strong>Demanda:</strong>
					<%= @licitation.demand.title %>
				</p>
				<p>Mapa de la demanda</p>
				<span class="image fit"><%=image_tag("Mapa.png", :style=>"max-height: 300px;") %></span>
			</div>
		</div>
	</div>
</section>