<p>
  <strong>Mount:</strong>
  <%= @licitation.mount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @licitation.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @licitation.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @licitation.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @licitation.user.name %>
</p>

<p>
  <strong>Demand:</strong>
  <%= @licitation.demand.title %>
</p>

<%= link_to 'Edit', edit_licitation_path(@licitation) %> |
<%= link_to 'Back', licitations_path %>
