<!--SIN INICIAR SESION-->
<%if !user_signed_in?%>
	<!--root_path-->
	<%if(controller.controller_name=="publications" and controller.action_name == "index")%>
		<section id="banner" class="major DarkOrangeFont">
			<div class="inner">
				<header class="major">
					<h1>Bienvenido a ComunitApp</h1>
				</header>
				<div class="content">
					<p>Organizate con tus vecinos y comunidad para poder conseguir a los mejores especialistas al mejor precio</p>
				</div>
			</div>
		</section>
	<%end%>
	<%if(controller.controller_name=="sessions" and controller.action_name == "new")%>
		<%if(params[:type]=='1')%> <!--Esto es pa cambiar el color fondo-->
			<%= stylesheet_link_tag 'solicitante', media: 'all', 'data-turbolinks-track' => true%>
			<section id="banner" class="style8">
				<div class="inner">
					<header class="major">
						<h1>Sé parte de la comunidad</h1>
					</header>
					<div class="content">
						<p>¡Unete a tus comunidades, genera solicitudes de servicios y cumple tus deseos!</p>
					</div>
				</div>
			</section>
		<%else%>
			<section id="banner" class="style1">
				<div class="inner">
					<header class="major">
						<h1>Trabaja gracias a ComunitApp</h1>
					</header>
					<div class="content">
						<p>¡Ingresa a ComunitApp y revisa los servicios demandandos por la comunidad!</p>
					</div>
				</div>
			</section>
		<%end%>
	<%end%>
<!--CON INICIAR SESION-->
<%else%>
	<!--Especialistas-->
	<% if current_user.category == 0%>
		<!--root_path-->
		<%if(controller.controller_name=="publications" and controller.action_name == "index")%>
			<section id="banner" class="style1">
				<div class="inner">
					<header class="major">
						<h1>Bienvenido <%=current_user.name%></h1>
					</header>
					<div class="content">
						<p>¡Observar las diferentes demandas generadas por las comunidades y organiza tus trabajos!</p>
						<%= link_to "Desconectarse", destroy_user_session_path, :method => :delete, :class=>"button special btn-fit" %>
					</div>
				</div>
			</section>
		<%end%>
	<!--Solicitantes-->
	<% elsif current_user.category == 1%>
		<!--root_path-->
		<%if(controller.controller_name=="publications" and controller.action_name == "index")%>
			<section id="banner" class="style7">
				<div class="inner">
					<header class="major">
						<h1>Bienvenido <%=current_user.name%></h1>
					</header>
					<div class="content">
						<p>¡Observa tus comunidades, mira sus demandas, genera las tuyas propias y más!</p>
						<%= link_to "Desconectarse", destroy_user_session_path, :method => :delete, :class=>"button special btn-fit" %>
					</div>
				</div>
			</section>
		<!--Demands new-->
		<%elsif(controller.controller_name=="demands" and controller.action_name == "new")%>
			<section id="banner" class="style8">
				<div class="inner">
					<header class="major">
						<h1>¡Genera una solicitud de servicio!</h1>
					</header>
					<div class="content">
						<p>Acá debes ingresar todos los datos necesarios para que maestros puedan ver que lo que deseas y postulen a realizar el trabajo enviando sus presupuestos</p>
						<ul class="actions">
							<li><a href="#one" class="button next scrolly">¡Comienza!</a></li>
						</ul>
					</div>
				</div>
			</section>
		<!--Demands index-->
		<%elsif(controller.controller_name=="demands" and controller.action_name == "index")%>
			<section id="banner" class="style8">
				<div class="inner">
					<header class="major">
						<h1>¡Ve el listado de demandas!</h1>
					</header>
					<div class="content">
						<p>Acá podras ver el listado de demandas generadas por ti y por tus comunidades</p>
					</div>
				</div>
			</section>
		<!--Demands show-->
		<%elsif(controller.controller_name=="demands" and controller.action_name == "show")%>
			<section id="banner" class="style8">
				<div class="inner">
					<header class="major">
						<h1><%=@demand.title%></h1>
					</header>
					<div class="content">
						<p><%=@demand.service.specialty.title%>:  <%=@demand.service.title%></p>
					</div>
				</div>
			</section>
		<!--Users community-->
		<%elsif(controller.controller_name=="users" and controller.action_name == "community")%>
			<section id="banner" class="style8">
				<div class="inner">
					<header class="major">
						<h1>Únete a una comunidad</h1>
					</header>
				</div>
			</section>
		<!--Users show-->
		<%elsif(controller.controller_name=="users" and controller.action_name == "show")%>
			<section id="banner" class="style8">
				<div class="inner">
					<header class="major">
						<h1>Perfil de <%=@user.name%></h1>
					</header>

					<%if @user.description.present?%>
						<div class="content">
							<p><%=@user.description%>
						</div>
					<%end%>
				</div>
			</section>
		<!--Users edit-->
		<%elsif(controller.controller_name=="users" and controller.action_name == "edit")%>
			<section id="banner" class="style8">
				<div class="inner">
					<header class="major">
						<h1>Editar perfil de <%=@user.name%></h1>
					</header>
				</div>
			</section>
		<%end%>
	<!--Administradores-->
	<% elsif current_user.category == 2%>
		<!--root_path-->
		<%if(controller.controller_name=="publications" and controller.action_name == "index")%>
			<section id="banner" class="style1">
				<div class="inner">
					<header class="major">
						<h1>Bienvenido Administrador <%=current_user.name%></h1>
					</header>
					<div class="content">
						<p>¡Acá administra la página!</p>
						<%= link_to "Desconectarse", destroy_user_session_path, :method => :delete, :class=>"button special btn-fit" %>
					</div>
				</div>
			</section>
		<%end%>
	<% end %>
<%end%>