<!--SIN INICIAR SESION-->
<%if !user_signed_in?%>
	<!--root_path-->
	<%if(controller.controller_name=="publications" and controller.action_name == "index")%>
		<section id="banner" class="major DarkOrangeFont">
			<div class="inner">
				<header class="major">
					<h1>Bienvenido a ComunitApp</h1>
				</header>
				<div class="content">
					<p>Organizate con tus vecinos y comunidad para poder conseguir a los mejores especialistas al mejor precio</p>
					<ul class="actions">
						<li><a href="#one" class="button next scrolly">¡Comienza!</a></li>
					</ul>
				</div>
			</div>
		</section>
	<%end%>

<!--CON INICIAR SESION-->
<%else%>
	<!--Especialistas-->
	<% if current_user.category == 0%>
		<!--root_path-->
		<%if(controller.controller_name=="publications" and controller.action_name == "index")%>
			<section id="banner" class="style1">
				<div class="inner">
					<header class="major">
						<h1>Bienvenido <%=current_user.name%></h1>
					</header>
					<div class="content">
						<p>¡Observar las diferentes demandas generadas por las comunidades y organiza tus trabajos!</p>
						<%= link_to "Desconectarse", destroy_user_session_path, :method => :delete, :class=>"button special btn-fit" %>
					</div>
				</div>
			</section>
		<%end%>
	<!--Solicitantes-->
	<% elsif current_user.category == 1%>
		<!--root_path-->
		<%if(controller.controller_name=="publications" and controller.action_name == "index")%>
			<section id="banner" class="style7">
				<div class="inner">
					<header class="major">
						<h1>Bienvenido <%=current_user.name%></h1>
					</header>
					<div class="content">
						<p>¡Observa tus comunidades, mira sus demandas, genera las tuyas propias y más!</p>
						<%= link_to "Desconectarse", destroy_user_session_path, :method => :delete, :class=>"button special btn-fit" %>
					</div>
				</div>
			</section>
		<!--Demands new-->
		<%elsif(controller.controller_name=="demands" and controller.action_name == "new")%>
			<section id="banner" class="style8">
				<div class="inner">
					<header class="major">
						<h1>¡<%=current_user.name%> genera una solicitud de servicio!</h1>
					</header>
					<div class="content">
						<p>Acá debes ingresar todos los datos necesarios para que maestros puedan ver que lo que deseas y postulen a realizar el trabajo enviando sus presupuestos</p>
						<ul class="actions">
							<li><a href="#one" class="button next scrolly">¡Comienza!</a></li>
						</ul>
					</div>
				</div>
			</section>
		<!--Demands index-->
		<%elsif(controller.controller_name=="demands" and controller.action_name == "index")%>
			<section id="banner" class="style8">
				<div class="inner">
					<header class="major">
						<h1>¡<%=current_user.name%> ve el listado de demandas!</h1>
					</header>
					<div class="content">
						<p>Acá podras ver el listado de demandas generadas por ti y por tus comunidades</p>
						<ul class="actions">
							<li><a href="#one" class="button next scrolly">¡Comienza!</a></li>
						</ul>
					</div>
				</div>
			</section>
		<!--Demands show-->
		<%elsif(controller.controller_name=="demands" and controller.action_name == "show")%>
			<section id="banner" class="style8">
				<div class="inner">
					<header class="major">
						<h1><%=@demand.title%></h1>
					</header>
					<div class="content">
						<p><%=@demand.service.specialty.title%>:  <%=@demand.service.title%></p>
					</div>
				</div>
			</section>
		<%end%>
	<!--Administradores-->
	<% elsif current_user.category == 2%>
		<!--root_path-->
		<%if(controller.controller_name=="publications" and controller.action_name == "index")%>
			<section id="banner" class="style1">
				<div class="inner">
					<header class="major">
						<h1>Bienvenido Administrador <%=current_user.name%></h1>
					</header>
					<div class="content">
						<p>¡Acá administra la página!</p>
						<%= link_to "Desconectarse", destroy_user_session_path, :method => :delete, :class=>"button special btn-fit" %>
					</div>
				</div>
			</section>
		<%end%>
	<% end %>
<%end%>