<header id="header" class="alt">
	<%=link_to '<strong>ComunitApp</strong><span> por Jellyper Software </span>'.html_safe,root_path, :class=>'logo'%>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>
<nav id="menu">
	<%=image_tag("logoComunitApp.png", :class=>"menulogo") %>
	<%if user_signed_in?%>
		<ul class="links">
			<li><%=link_to "Inicio", root_path%></li>
			<li><%=link_to "Mi perfil", current_user%></li>
			<li><%=link_to "Ver demandas", demands_path%></li>
			<%if current_user.category == 1%>
				<li><%=link_to "Nueva solicitud", new_demand_path%></li>
				<li><%= link_to "Unirse a una comunidad", {:controller => "users", :action => "community", :id => current_user}%></li>
			<%end%>
		</ul>
		<ul class="actions vertical">
			<li><%= link_to "Desconectarse", destroy_user_session_path, :method => :delete,:class=>'button special' %></li>
		</ul>
	<%else%>
		<ul class="actions vertical">
			<li><%=link_to "Inicia como especialista",user_session_path(:type=>0),:class=>'button special'%></li>
			<li><%=link_to "Inicia como solicitante",user_session_path(:type=>1),:class=>'button' %></li>
		</ul>
	<%end%>							
</nav>