<div class="row 200%">
	<div class="8u 12u$(medium)">
		<%= form_for(@demand) do |f| %>
				<% if @demand.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@demand.errors.count, "error") %> prohibited this demand from being saved:</h2>
						<ul>
							<% @demand.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
			<div class="row uniform">
				<div class="12u$">
					<%= f.text_field :title, :placeholder => "Nombre de la demanda", :required => true %>
				</div>

				<div class="12u$">
					<input type="text" placeholder="Dirección: <%=current_user.address%>" disabled />
				</div>
				<div class="12u$">
					<%= f.text_field :title, :placeholder => "Nombre de la demanda", :required => true %>
				</div>
				
				<div class="12u$">
					<%= f.text_area :description, :placeholder => "Descripción de la demanda", :required => true %>
				</div>

				<div class="12u$">
					<%= f.select :service_id, @services.collect {|service| [service.specialty.title+': '+service.title, service.id]},{:include_blank => '<span>Seleccione el servicio que requiere</span>'.html_safe}, {:required => true, :class=>'wrapper-dropdown-3 12u$'} %>
				</div>​


				<div class="6u 12u$(small)">			
				<%= f.radio_button :demand_type, 0 %>
					<%= f.label :demand_type, 'Pública', :value => 0 %>
				</div>
				<div class="6u 12u$(small)">
					<%= f.radio_button :demand_type, 1, :checked => true %>
					<%= f.label :demand_type, 'Privada', :value => 1 %>
				</div>

				<div class="6u 12u$(small)">
					<ul>
						<i class="fa fa-camera" aria-hidden="true">
						<input type="button" value="Subir fotografía" class="special"/></i>
					</ul>
				</div>
				<div class="6u 12u$(small)">
					<%= f.text_field :start_date, :placeholder=>"Fecha y hora estimada de inicio" %>
				</div>		

				<div class="6u 12u$(small)">
					<%= f.check_box :status, {}, 1, 2 %>
					<%= f.label :status, '¿Visita a Tereno?' %>
				</div>


				<div class="12u$">
					<ul class="actions">						
						<%= f.submit "Generar demanda", :class=>'special btn-fit' %>					
						<li><input type="reset" value="Vaciar formulario" /></li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
	<div class="4u 12u$(medium)">

		<div class="panel panel-default panel-comunitApp">
			<div class="panel-heading text-uppercase">
				Sobre los servicios
			</div>
			<div class="panel-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
			</div>
		</div>

		<div class="panel panel-default panel-comunitApp">
			<div class="panel-heading text-uppercase">
				Posibles estados de la demanda
			</div>
			<div class="panel-body" >
				<ul style="text-align: left">
					<li>Generación [Ahora]</li>
					<li>Visita a terreno</li>
					<li>Licitación</li>
					<li>Decisión de un especialista</li>
					<li>Trabajo</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr class="major" />
<div class="row">
	<div class="12u 12u$">
		<div class="panel panel-default panel-comunitApp">
			<div class="panel-heading text-uppercase">
				¿Qué es una demanda?
			</div>
			<div class="panel-body" >
				Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing.
			</div>
		</div>
	</div>

	<%@specialties.each do |specialty|%>
		<div class="6u 12u$(small)">
			<div class="panel panel-default panel-comunitApp">
				<div class="panel-heading text-uppercase">
					<%=specialty.title%>
				</div>
				<div class="panel-body" >
					<%=specialty.description%>
				</div>
			</div>
		</div>
	<%end%>

</div>
