<%= form_for(@demand) do |f| %>
		<% if @demand.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@demand.errors.count, "error") %> prohibited this demand from being saved:</h2>
				<ul>
					<% @demand.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	<div class="row uniform">
		<div class="12u$">
			<%= f.text_field :title, :placeholder => "Nombre de la demanda", :required => true %>
		</div>

		<div class="12u$">
			<input type="text" placeholder="Dirección: <%=current_user.address%>" disabled />
		</div>

		<div class="12u$">
			<%= f.text_area :description, :placeholder => "Descripción de la demanda", :required => true %>
		</div>

		<div class="12u$">
			<%= f.select :service_id, @services.collect {|service| [service.specialty.title+': '+service.title, service.id]},{:include_blank => '<span>Seleccione el servicio que requiere</span>'.html_safe}, {:required => true, :class=>'wrapper-dropdown-3 12u$'} %>
		</div>​


		<div class="6u 12u$(small)">			
		<%= f.radio_button :demand_type, 0 %>
			<%= f.label :demand_type, 'Pública', :value => 0 %>
		</div>
		<div class="6u 12u$(small)">
			<%= f.radio_button :demand_type, 1, :checked => true %>
			<%= f.label :demand_type, 'Privada', :value => 1 %>
		</div>

		<div class="6u 12u$(small)">
			<ul>
				<i class="fa fa-camera" aria-hidden="true">
				<input type="button" value="Subir fotografía" class="special"/></i>
			</ul>
		</div>
		<div class="6u 12u$(small)">
			<%= f.text_field :start_date, :placeholder=>"Fecha y hora estimada de inicio" %>
		</div>		

		<div class="6u 12u$(small)">
			<%= f.check_box :status, {}, 1, 2 %>
			<%= f.label :status, '¿Visita a Tereno?' %>
		</div>


		<div class="12u$">
			<ul class="actions">						
				<%= f.submit "Generar demanda", :class=>'special btn-fit' %>					
				<li><input type="reset" value="Vaciar formulario" /></li>
			</ul>
		</div>
	</div>
<% end %>