<div class= "12u$(medium)">
	<div class="table-wrapper">
		<table>
			<tbody>
				<tr>
					<td><strong>Fecha de publicación: </strong></td>
					<td><%=l @demand.created_at%></td>
				</tr>
				<tr>
					<td><strong>Estado:</strong></td>
					<td>
						<%if @demand.status == 0%>
							Generación de la demanda
						<% elsif @demand.status == 1%>
							Visita a terreno
						<% elsif @demand.status == 2%>
							En proceso de licitación
						<% elsif @demand.status == 3%>
							Elección de un maestro especialista
						<% elsif @demand.status == 4%>
							En estado de realización de Trabajo
						<% elsif @demand.status == 5%>
							Trabajo Finalizado
						<%end%>																
					</td>
				</tr>
				<tr>
					<td><strong>Tipo de demada</strong></td>
					<td>
						<% if @demand.demand_type == 0%>
							Pública para la comunidad <%=@demand.community.name%>
						<%else%>
							Privada
						<%end%>								
					</td>
				</tr>
				<tr><p><center><i>"<%=@demand.description%>"</i>- <%=@demand.user.name%></center></p></tr>
			</tbody>
		</table>
	</div>
</div>

<%if @demand.demand_type==0%>
	<div class="row">
		<div class="6u 12u$(small)">
			<h3>Solicitantes unidos a la demanda</h3>

			<ul class="alt">
				<%@confirmador=0%>
				<%if @demand.public_demands.present?%>
					<%@demand.public_demands.each do |public_demand|%>
						<li><a href="#" class="icon fa-github"></a> <%=public_demand.user.name%></li>
						<%if public_demand.user == current_user%>
							<%@confirmador=1%>
						<%end%>
					<%end%>
				<%else%>
					<div class="panel panel-default panel-comunitApp">
						<div class="panel-heading text-uppercase">
							Nadie se ha unido
						</div>
						<div class="panel-body">
							Al parecer todavía nadie se ha unido a la demanda comunitaria
						</div>
					</div>
				<%end%>
			</ul>
		</div>
		<div class="6u$ 12u$(small)">
			<h3>Mapa de la demanda</h3>
			<span class="image fit"><%=image_tag("Mapa.png", :style=>"max-height: 300px;") %></span>
		</div>
	</div>
	<%if @confirmador==0 && current_user.community == @demand.user.community%>
		<center>
			<ul class="actions">
				<li><%= link_to "Unirse a la demanda", public_demands_path({:user_id => current_user.id, :demand_id => @demand.id}), :method => :post,:class=>'button special' %></li>
			</ul>
		</center>
	<%end%>
<%end%>


<div class= "12u$(medium)">
	<h3>Cotización de especialistas</h3>
	<%if @demand.licitations.present?%>
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Nombre Especialista</th>
						<th>Precio por el trabajo [CLP]</th>
						<th>Información</th>
					</tr>
				</thead>
				<tbody>
					<%@demand.licitations.each do |licitation|%>
						<tr>
							<td><%=licitation.user.name%></td>
							<td><%=licitation.mount%></td>
							<td><%=link_to "Ver", licitation, :class=>'button'%></td>
						</tr>
					<%end%>
				</tbody>
			</table>
		</div>
	<%else%>
		<div class="panel panel-default panel-comunitApp">
			<div class="panel-heading text-uppercase">
				Actualmente no hay cotizaciones
			</div>
			<div class="panel-body">
				<p>Ningun maestro ha realizado ningun postulación, pero es solo cosa de tiempo.</p>
			</div>
		</div>
	<%end%>
</div>