<p id="notice"><%= notice %></p>

<h1>Listing Public Demands</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Demand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @public_demands.each do |public_demand| %>
      <tr>
        <td><%= public_demand.user %></td>
        <td><%= public_demand.demand %></td>
        <td><%= link_to 'Show', public_demand %></td>
        <td><%= link_to 'Edit', edit_public_demand_path(public_demand) %></td>
        <td><%= link_to 'Destroy', public_demand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Public demand', new_public_demand_path %>
