<section id="one" class="DarkOrangeFont">
	<div class="inner">
		<div class="row 200%">
			<div class="6u 12u$(medium)">
			<h3>Ingresa</h3>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="row uniform">
					<div class="6u 12u$(xsmall)">
						<%= f.email_field :email,:placeholder=>"Ingresa tu correo",:type=>"email" %>
					</div>
					<div class="6u 12u$(xsmall)">
						<%= f.password_field :password, autocomplete: "off",:placeholder=>"Contraseña" %>
					</div>

					<% if devise_mapping.rememberable? -%>
						<div class="field">
							<%= f.check_box :remember_me %>
							<%= f.label :remember_me, "RECORDARME" %>
						</div>
					<% end -%>

					<div class="actions 12u$">
						<%= f.submit "Ingresar",:class=>"special btn-fit" %>
					</div>
				</div>
			<% end %>
			

			<%= render "devise/shared/links" %>



			</div>
			<div class="6u$ 12u$(medium)">
				<h3>Registrate</h3>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

				<%if(params[:type]=='0')%> 
					<%= render 'partials/registration/especialista'%>		
				<%else%>
					<%= render "partials/registration/solicitante" %>
				<%end%>

				
			</div>
		</div>
	</div>
</section>